@media (max-width: 650px) {
  .main-post,
  .main-tags,
  .main-categories,
  .main-about,
  .main-console {
    width: 100%;
    margin-top: 0rem;
  }
  .main-index,
  .main-categories,
  .main-tags {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
  }
  .article-details {
    flex-direction: column;
  }
}
