@media (max-width: 650px) {
  header {
    overflow-x: scroll;
    overflow-y: none;
  }
  .header-logo {
    margin-left: 0rem;
    margin-right: 5rem;
  }
  header h3 {
    display: none;
  }
  .header-nav {
    justify-content: flex-start;
  }
  .main-index,
  .main-tag,
  .main-tags,
  .main-category,
  .main-categories,
  .main-about,
  .main-console,
  .main-post {
    width: 100% !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .main-post {
    width: 100% !important;
    margin-top: 0rem !important;
    margin-left: 0% !important;
  }
  .toc-pin {
    display: none;
  }
  .article-to-toc {
    display: none;
  }
  .footer-info {
    flex-direction: column;
    align-items: center;
  }
  .article-details {
    flex-direction: column;
  }
}
