
.light code[class*="language-"],
.light pre[class*="language-"] {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  color: #90a4ae;
  background: #f6f8fa;
  /* font-family: Roboto Mono, monospace; */
  font-size: 1.4rem;
  line-height: 2rem;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.light code[class*="language-"]::-moz-selection,
.light pre[class*="language-"]::-moz-selection,
.light code[class*="language-"] ::-moz-selection,
.light pre[class*="language-"] ::-moz-selection {
  background: #cceae7;
  color: #263238;
}

.light code[class*="language-"]::selection,
.light pre[class*="language-"]::selection,
.light code[class*="language-"] ::selection,
.light pre[class*="language-"] ::selection {
  background: #cceae7;
  color: #263238;
}

.light :not(pre)>code[class*="language-"] {
  white-space: normal;
  border-radius: 0.2em;
  padding: 0.1em;
}

.light pre[class*="language-"] {
  overflow: auto;
  position: relative;
  margin: 0.5em 0;
  padding: 0.5em 1em;
}

.light .language-css>code,
.light .language-sass>code,
.light .language-scss>code {
  color: #f76d47;
}

.light [class*="language-"] .namespace {
  opacity: 0.7;
}

.light .token.atrule {
  color: #7c4dff;
}

.light .token.attr-name {
  color: #39adb5;
}

.light .token.attr-value {
  color: #f6a434;
}

.light .token.attribute {
  color: #f6a434;
}

.light .token.boolean {
  color: #7c4dff;
}

.light .token.builtin {
  color: #39adb5;
}

.light .token.cdata {
  color: #39adb5;
}

.light .token.char {
  color: #39adb5;
}

.light .token.class {
  color: #39adb5;
}

.light .token.class-name {
  color: #6182b8;
}

.light .token.comment {
  color: #6a737d;
}

.light .token.constant {
  color: #7c4dff;
}

.light .token.deleted {
  color: #e53935;
}

.light .token.doctype {
  color: #aabfc9;
}

.light .token.entity {
  color: #e53935;
}

.light .token.function {
  color: #7c4dff;
}

.light .token.hexcode {
  color: #f76d47;
}

.light .token.id {
  color: #7c4dff;
  font-weight: bold;
}

.light .token.important {
  color: #7c4dff;
  font-weight: bold;
}

.light .token.inserted {
  color: #39adb5;
}

.light .token.keyword {
  color: #7c4dff;
}

.light .token.number {
  color: #f76d47;
}

.light .token.operator {
  color: #39adb5;
}

.light .token.prolog {
  color: #aabfc9;
}

.light .token.property {
  color: #39adb5;
}

.light .token.pseudo-class {
  color: #f6a434;
}

.light .token.pseudo-element {
  color: #f6a434;
}

.light .token.punctuation {
  color: #39adb5;
}

.light .token.regex {
  color: #6182b8;
}

.light .token.selector {
  color: #e53935;
}

.light .token.string {
  color: #f6a434;
}

.light .token.symbol {
  color: #7c4dff;
}

.light .token.tag {
  color: #e53935;
}

.light .token.unit {
  color: #f76d47;
}

.light .token.url {
  color: #e53935;
}

.light .token.variable {
  color: #e53935;
}

/* 修复行号 */
.light pre[class*=language-].line-numbers {
  position: relative;
  padding-left: 2.8em;
  counter-reset: linenumber
}

.light pre[class*=language-].line-numbers>code {
  position: relative;
  white-space: inherit
}

.light .line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: -0.2em;
  font-size: 100%;
  left: -2.8em;
  width: 2em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.light .line-numbers-rows>span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber
}

.light .line-numbers-rows>span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: .8em;
  text-align: right
}

