.markmap-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  font-family: var(--global-font-family);
  color: var(--fontColor);
}
.markmap-container svg {
  max-width: 100% !important;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .markmap-container {
    height: 400px;
  }
}
